
body {
    justify-content: center;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
    height: 100vh;
    display: flex;
    background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
}

/* calculatrice */
.calculatrice {
    background-color: rgb(95, 114, 104);
    display: flex;
    flex-direction: column;
    padding: 15px;
    border-radius: 15px;
    box-shadow: 0 5px rgb(82, 81, 81);
}

.ecran {
    background-color: rgb(238, 245, 246);
    height: 50px;
    border-radius: 5px;
    margin-bottom: 20px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 15px;
    font-size: 30px;
}

input {
    color: red;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    border-radius: 5px;
}

.touches {
    display: grid;
    grid-template-columns: repeat(4, 55px);
    grid-template-rows: repeat(5, 55px);
    grid-gap: 13px;
}

button {
    border: none;
    outline: none;
    border-radius: 5px;
    background-color: rgb(218, 216, 216);
    box-shadow: 0 3px rgb(68, 67, 67);
    font-size: 20px;
}

button:active {
    box-shadow: 0 1px  rgb(68, 67, 67);
    transform: translateY(2px);
}

button[data-all-clear] {
    background-color: rgb(235, 160, 116);
    font-weight: bold;
}

button[data-equals] {
    grid-column: span 4;
    background-color: rgb(235, 160, 116);
    font-weight: bold;
}

#operateur {
    background-color: rgb(235, 160, 116);
    font-weight: bold;
}

.text {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(61, 59, 59);
    opacity: 0.7;
}
p {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    opacity: 0.6;
}
